#analytics {
    width: calc(100vw - 200px);
    height: calc(100vh - 200px);
    margin: 0; padding: 100px; 
    text-align: center; background: #f3efef ;
    position: fixed;
    bottom: -100vh;
    left: 0;
    z-index: 800;
    overflow: hidden;
}

#chartWrap, #bordersWrap {
    width: 80vw;
    height: 70vh;
    max-height: calc(100vh - 240px);
    position: absolute;
    margin-bottom: 60px;
}

#bordersWrap {
    top: calc(50% + 60px);
    left: 50%;
    transform: translate(-50%, -50%);
}

#chartWrap {
    border-left: #666666 1px solid;
    border-bottom: #666666 1px solid;
    background-image: url(../images/chart-onebillion.svg);
    background-position: left bottom;
    background-size: cover;
}

#chartWrap::before {
    content: "Life Expectancy";
    position: absolute;
    top: 10px;
    left: 5px;
    font-family: Lora;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

#chartWrap::after {
    content: "Heart Rate";
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-family: Lora;
    font-size: 0.8em;
    letter-spacing: 0.2em;
}

@media(max-width: 900px) {
    #analytics {
        width: 100vw;
        height: 100vh;
        padding: 0;
    }
    #chartWrap, #bordersWrap {
        width: 80vw;
        height: calc(100vh - 250px);
        max-height: unset;
        top: unset;
        left: 50%;
        transform: translate(-50%, 0);
    }
    #bordersWrap {
        margin: 170px 0;
    }
    #chartWrap {
        border-left: none;
        border-bottom: none;
    }
    #chartWrap::before, #chartWrap::after {
        display: none;
    }
}

@media(max-width: 600px) {
    #analytics {
        z-index: 999;
    }
    #bordersWrap {
        width: calc(100vw - 70px);
        height: calc(100vh - 200px);
        left: 60px;
        bottom: 30px;
        transform: none;
    }
    #chartWrap {
        width: 100%;
        height: 100%;
    }
}

/*
#axisYTitle {
    width: 40px;
    height: 50vh;
    position: absolute;
    top: 0;
    left: -40px;
    z-index: -1;
}

#axisXTitle {
    width: 70vw;
    height: 20px;
    position: absolute;
    bottom: -20px;
    left: 0;
}

#axisYTitle p {
    font-family: Lora;
    font-size: 0.8em;
    text-align: right;
    color: #444444;
    margin: 0 10px 0 0;
}

#axisYTitle p.middleAxisY {
    margin: calc(25vh - 30px) 10px calc(25vh - 30px) 0;
}

#axisXTitle p {
    font-family: Lora;
    font-size: 0.8em;
    display: inline-block;
    color: #444444;
    margin: 10px 0;
}

#axisXTitle p.middleAxisXone {
    margin: 10px 0 10px 8vw;
}

#axisXTitle p.middleAxisXtwo {
    margin: 10px 0 10px 5vw;
}

#axisXTitle p.middleAxisXthree {
    margin: 10px 21vw;
}

@media(max-width: 800px) {
    #axisXTitle, #axisYTitle {
        display: none;
    }
}
*/
#bordersWrap {
    position: relative;
}

#verticalLine, #horizontalLine {
    background-color: rgba(255,137,127,0.8);
    position: absolute;
    display: none;
}

#verticalLine {
    width: 2px;
    height: 100%;
}

.bubbles, .bubbles-life {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255,137,127,1);
    position: absolute;
    padding: 5px;
    color: #FFFFFF;
}

.bubbles {
    top: 100%;
    font-family: 'Pinyon Script', cursive;
    font-size: 1.2em;
    line-height: 2em;
    z-index: 810;
}

.bubbles-life {
    margin-left: -60px;
    font-family: 'Pinyon Script', cursive;
    font-size: 1.2em;
    line-height: 2em;
}

.bubbles::after, .bubbles-life::after {
    display: flex;
    position: absolute;
    bottom: 0;
    font-family: Lora;
    font-size: 0.6em;
    margin: 0 auto;
}
.bubbles::after {
    content: "bpm";
    margin-left: 14px;
}

.bubbles-life::after {
    content: "years";
    margin-left: 10px;
}

#horizontalLine {
    width: 100%;
    height: 2px;
}

.chart-animals {
    width: 60px;
    height: 60px;
    position: absolute;
    opacity: 0.5;
    transform: translate(0 , 30px);
}

.chart-animals:hover {
    opacity: 1;
}

#dotInfo {
    width: 100%;
    height: 90px;
    position: absolute;
    top: -90px;
    left: 0;
    background-color: rgba(255,137,127,1);
    text-align: left;
}

#dotInfo img {
    height: 70px;
    width: 70px;
    display: block;
    padding: 10px;
    float: left;
    border-right: #FFFFFF dashed 1px;
}

#dotInfo p {
    color: #FFFFFF;
    display: inline-block;
    margin-left: 20px;
}

.dotInfoLarge {
    font-family: 'Pinyon Script', cursive;
    font-size: 1.8em;
    margin-top: 45px;
    line-height: 0;
}

.dotInfoSmall {
    font-size: 0.9em;
    font-family: Lora;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    width: calc(100% - 140px);
    max-width: 520px;
    line-height: 2em;
    text-align: right;
    letter-spacing: 0;
}

.dotInfoSmall span {
    font-family: 'Pinyon Script', cursive;
    font-size: 1.6em;
    line-height: 0;
}

@media(max-width: 1100px) {
    #dotInfo p {
        display: block;
        margin-left: 110px;
    }
    .dotInfoLarge {
        font-size: 1.4em;
        margin-top: 25px;
        margin-bottom: 0;
    }
    .dotInfoSmall {
        font-size: 0.8em;
        float: none;
        margin-top: 15px;
        width: calc(100% - 120px);
        max-width: 100%;
        text-align: left;
        line-height: 1.4em;
    }
    .dotInfoSmall span {
        font-size: 1.2em;
    }
}

@media(max-width: 600px) {
    #dotInfo {
        width: 100vw;
        height: 140px;
        top: -140px;
        left: -60px;
    }
    #dotInfo img {
        display: none;
    }
    #dotInfo p {
        margin: 20px 40px;
    }
    .dotInfoSmall {
        width: calc(100% - 80px);
    }
    .dotInfoLarge {
        padding-top: 15px;
    }
    #horizontalLine {
        width: 100vw;
    }
}

/*////////////////////////////// ABOUT Panel*/

#aboutPanel {
    width: 400px;
    height: 100vh;
    background: #efefef;
    position: fixed;
    top: 0;
    right: -400px;
    z-index: 890;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: scroll;
    transition-duration: 300ms;
}

.aboutBody {
    width: calc(100% - 60px);
    margin: 50px 30px 0 30px;
}

#aboutHB {
    margin: 120px 30px 0 30px;
}

.aboutBody h1 {
    font-family: 'Pinyon Script', cursive;
}

.aboutBody h2 {
    font-family: Lora;
    font-weight: normal;
    font-size: 1.2em;
}

.aboutBody p, #Aboutfooter p {
    font-family: Lora;
    font-size: 0.9em;
    line-height: 1.7em;
    text-align: center;
    color: #444444;
}

.aboutBody p a:hover, #Aboutfooter p a:hover {
    color: rgba(255,137,127,1);
    transition-duration: 500ms;
}

.aboutBody p span {
    font-weight: bold;
}

.aboutBody p a {
    color: #444444;
    text-decoration: underline;
}

.aboutBody p.centerAlign {
    text-align: center;
}

.aboutFullWidth {
    width: 100%;
    margin: 80px 0 0 0;
}

#Aboutfooter {
    background-color: lightgray;
    height: 150px;
}

.sidepanelLogo {
    width: 60%;
    margin: 30px auto 0 auto;
}

#Aboutfooter p {
    text-align: center;
    margin: 20px auto 30px auto;
    font-size: 0.8em;
}

@media (max-width: 400px) {
    #aboutPanel {
        width: 100vw;
        height: 100vh;
    }
}