#analytics {
    width: calc(100vw - 200px);
    height: calc(100vh - 200px);
    margin: 0; padding: 100px; 
    text-align: center; background: #f3efef ;
    position: fixed;
    bottom: -100vh;
    left: 0;
    z-index: 800;
}

#chartWrap, #bordersWrap {
    width: 70vw;
    height: 50vh;
    min-width: 780px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chartWrap {
    border-left: #666666 1px solid;
    border-bottom: #666666 1px solid;
    background-image: url(images/chart-onebillion.svg);
    background-size: 100% 100%;
}

@media(max-width: 900px) {
    #analytics {
        width: 100vw;
        height: 100vh;
        padding: 0;
    }
    #chartWrap, #bordersWrap {
        width: 80vw;
        height: calc(100vh - 250px);
        min-width: unset;
        top: unset;
        left: 50%;
        transform: translate(-50%, 0);
    }
    #bordersWrap {
        margin: 170px 0;
    }
    #chartWrap {
        border-left: none;
        border-bottom: none;
    }
}

/*
#axisYTitle {
    width: 40px;
    height: 50vh;
    position: absolute;
    top: 0;
    left: -40px;
    z-index: -1;
}

#axisXTitle {
    width: 70vw;
    height: 20px;
    position: absolute;
    bottom: -20px;
    left: 0;
}

#axisYTitle p {
    font-family: Lora;
    font-size: 0.8em;
    text-align: right;
    color: #444444;
    margin: 0 10px 0 0;
}

#axisYTitle p.middleAxisY {
    margin: calc(25vh - 30px) 10px calc(25vh - 30px) 0;
}

#axisXTitle p {
    font-family: Lora;
    font-size: 0.8em;
    display: inline-block;
    color: #444444;
    margin: 10px 0;
}

#axisXTitle p.middleAxisXone {
    margin: 10px 0 10px 8vw;
}

#axisXTitle p.middleAxisXtwo {
    margin: 10px 0 10px 5vw;
}

#axisXTitle p.middleAxisXthree {
    margin: 10px 21vw;
}

@media(max-width: 800px) {
    #axisXTitle, #axisYTitle {
        display: none;
    }
}
*/
#bordersWrap {
    position: relative;
}

#verticalLine, #horizontalLine {
    background-color: rgba(255,137,127,0.8);
    position: absolute;
    display: none;
}

#verticalLine {
    width: 2px;
    height: 100%;
}

.bubbles, .bubbles-life {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255,137,127,1);
    position: absolute;
    padding: 5px;
    color: #FFFFFF;
}

.bubbles {
    top: 100%;
    font-family: 'Pinyon Script', cursive;
    font-size: 1.2em;
    line-height: 2em;
    z-index: 810;
}

.bubbles-life {
    margin-left: -60px;
    font-family: 'Pinyon Script', cursive;
    font-size: 1.2em;
    line-height: 2em;
}

.bubbles::after, .bubbles-life::after {
    display: flex;
    position: absolute;
    bottom: 0;
    font-family: Lora;
    font-size: 0.6em;
    margin: 0 auto;
}
.bubbles::after {
    content: "bpm";
    margin-left: 14px;
}

.bubbles-life::after {
    content: "years";
    margin-left: 10px;
}


@media(max-width: 700px) {
    .bubbles, .bubbles-life {
        width: 30px;
        height: 30px;
        font-size: 1em;
    }
    .bubbles-life {
        margin-left: -50px;
        margin-bottom: 5px;
    }
}

#horizontalLine {
    width: 100%;
    height: 2px;
}

.chart-animals {
    width: 60px;
    height: 60px;
    position: absolute;
    opacity: 0.5;
    transform: translate(0 , 30px);
}

.chart-animals:hover {
    opacity: 1;
}

#dotInfo {
    width: 100%;
    height: 90px;
    position: absolute;
    top: -90px;
    left: 0;
    background-color: rgba(255,137,127,1);
    text-align: left;
}

#dotInfo img {
    height: 70px;
    width: 70px;
    display: block;
    padding: 10px;
    float: left;
    border-right: #FFFFFF dashed 1px;
}

#dotInfo p {
    color: #FFFFFF;
    display: inline-block;
    margin-left: 20px;
}

.dotInfoLarge {
    font-family: 'Pinyon Script', cursive;
    font-size: 2em;
    margin-top: 45px;
    line-height: 0;
}

.dotInfoSmall {
    font-size: 0.9em;
    font-family: Lora;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    width: 60%;
    max-width: 500px;
    line-height: 2em;
    text-align: right;
}

.dotInfoSmall span {
    font-family: 'Pinyon Script', cursive;
    font-size: 1.6em;
    line-height: 0;
}

@media(max-width: 900px) {
    #dotInfo p {
        display: block;
        margin-left: 110px;
    }
    .dotInfoLarge {
        font-size: 1.5em;
        margin-top: 25px;
        margin-bottom: 0;
    }
    .dotInfoSmall {
        font-size: 0.8em;
        float: none;
        margin-top: 15px;
        width: calc(100% - 130px);
        max-width: 100%;
        text-align: left;
        line-height: 1.6em;
    }
    .dotInfoSmall span {
        font-size: 1.2em;
    }
}