/* ------------------Global------------------ */
body {  
    width: 100%;
    height: 100%;
    margin: 0; padding: 0; 
    text-align: center; background: #cccccc ;}
  .displayNone {
    display: none;}
  .displayBlock {
    display: block;}
  .clear {
    clear: both;}
  
/* ------------------Header--------------------- */
  #header {
    height: 60px;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 900;
    transition: opacity 1000ms ease-in-out;
    }
  #headerMain {
    display: block;
    width: 100%;
    height: 100%;
    background: #efefef;
    color: #666666;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #headerLeft {
    float: left;
    margin: 0 20px 0 40px;
    display: block;}
  #headerRight {
    float: right;
    margin: 0 40px 0 20px;
    display: block;}
  .hbTitle {
    font-size: 2em;
    color: #666666;
    font-family: 'Pinyon Script', cursive;}
  #headerLogo {
    margin: 0;
    position: absolute;
    top: 55%;
    transform: translate(0, -50%);}
  #menuIcon {
    height: 50px;
    margin-top: 5px;
    display: none;
    cursor: pointer;
  }
  
  nav {
      width: 300px;
      height: 30px;
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translate(-100%, -25%);
      display: inline-block;}
  nav a, nav p {
    display: inline;
    font-size: 0.8em;
    text-decoration: none;
    line-height: 1em;
    font-family: 'Lora', serif;
    margin-right: 30px;
    color: #666666;
    font-style: none;
    cursor: pointer;
  }
  nav a:hover, nav p:hover {
    color: rgba(255,137,127,1);
    transition-duration: 500ms;}
  
  #mobileNav {
    width: 100%;
    height: 120px;
    margin: 60px 0 0 0;
    padding: 10px 0 0 0;
    background-color: rgb(228, 223, 215);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: -150px;
    z-index: -1;
    display: none;
  }
  
  #mobileNav a, #mobileNav p {
    height: 20px;
    display: block;
    padding: 10px;
    border-top:rgba(65, 65, 65, 0.3) 1px solid;
    font-family: 'Lora', serif;
    font-size: 0.8em;
    text-decoration: none;
    color: #666666;
    margin: 0;
  }
  #mobileNav a:hover, #mobileNav a:hover {
    background-color: rgba(65, 65, 65, 0.1);
  }
  
  @media(max-width: 960px) {
    nav {
      display: none;
    }
    #headerLeft, #headerRight {
      margin: 0 20px;
    }
    .hbTitle {
      font-size: 1.8em;
    }
    #menuIcon {
      display: inline;
    }
  }
  
  @media(max-width: 480px) {
    .hbTitle {
      font-size: 1.6em;
    }
    #header {
      height: 50px;
    }
    #menuIcon {
      height: 40px;
    }
  }
  
  @media(max-width: 410px) {
    .hbTitle {
      font-size: 1.5em;
    }
  }
    
/* ---Mute/Unmute button--- */
  #mute, #unmute {
    height: 70%;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);}
  #mute:hover, #unmute:hover, #pbLogo:hover {
    opacity: 0.5;
    transition-duration: 500ms}

/* ------------------Modal------------------ */
    /* The Modal BG */
.modal {
    position: fixed;
    z-index: 950;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255,137,127,0.8);}
  
  /* Modal Box */
  .modal-content {
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    max-width: calc(90vw - 100px);
    max-height: calc(90vw - 100px);
    border-radius: 200px;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border: none;}
  
  .modal-content .hbTitle {
    margin-block-end: 0em;
    }
  #playHeart {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: block;
    animation-name: heart-animation;
    animation-iteration-count: infinite;
    animation-duration: 0.83s;
    }
  p.modal-text {
      font-size: 0.9em;
      text-decoration: none;
      line-height: 1.5em;
      font-family: 'Lora', serif;
      color: #666666;
      font-style: none;
      margin:5px 0;
    }
  .modal-close {
    color: #aaa;
    margin: 0 auto;
    font-size: 0.8em;
    font-weight: bold;
    font-family: 'Lora', serif;
  }
  .animal-loading-status {
    line-height: 10em;
  }
  .modal-close:hover,
  .modal-close:focus {
    color: #666666;
    text-decoration: none;
    cursor: pointer;
  }
  @media(max-width: 480px) {
    .modal-content .hbTitle {
      font-size: 1.8em;
    }
    .modal-content {
      max-width: calc(90vw - 60px);
      max-height: calc(90vw - 60px);
      padding: 30px;
    }
    #playHeart {
      max-width: 30vw;
      max-height: 30vw;
    }
    .modal-close {
      font-size: 0.7em;
    }
  }
  
  @media(max-width: 410px) {
    #playHeart {
      max-width: 25vw;
      max-height: 25vw;
    }
  }

/* ------------------Blinking Animation------------------ */

@keyframes blink-animation {
	0% {opacity: 1}
	70%{opacity: 1}
	80% {opacity: 0.8}
	90% {opacity: 0.8}
  100% {opacity: 1}}
  
@keyframes heart-animation {
  0% {opacity: 1}
  70%{opacity: 1}
  80% {opacity: 0.5}
  90% {opacity: 0.5}
  100% {opacity: 1}}

/* ------------------Styles for Animals------------------ */

.bluewhale {
    background: #192768;
    fill: #192768;
    animation-duration: 6.66s;}
.deserttortoise {
    background: #5D6EA4;
    fill: #5D6EA4;
    animation-duration: 5s;}
.elephant {
    background: #43110A;
    fill: #43110A;
    animation-duration: 2s;}
.alligator  {
    background: #024E91;
    fill: #024E91;
    animation-duration: 1.87s;}
.horse {
    background: #C94741;
    fill: #C94741;
    animation-duration: 1.76s;}
.dolphin {
    background: #4288B3;
    fill: #4288B3;
    animation-duration: 1.5s;}
.ox {
    background: #821955;
    fill: #821955;
    animation-duration: 1.2s;}
.brownbear {
    background: #7A4034;
    fill: #7A4034;
    animation-duration: 1.09s;}   
.giraffe {
    background: #B78B3D;
    fill: #B78B3D;
    animation-duration: 0.92s;}
.dairycow {
    background: #6A0100;
    fill: #6A0100;
    animation-duration: 0.92s;}
.human {
    background: #AF2A23;
    fill: #AF2A23;
    animation-duration: 0.83s;}
.goat {
    background: #A2703D;
    fill: #A2703D;
    animation-duration: 0.8s;}
.sheep {
    background: #DEB771;
    fill: #DEB771;
    animation-duration: 0.8s;}
.pig {
    background: #9C2336;
    fill: #9C2336;
    animation-duration: 0.75s;}
.dog {
    background: #D45066;
    fill: #D45066;
    animation-duration: 0.46s;}
.cat {
    background: #A6597A;
    fill: #A6597A;
    animation-duration: 0.46s;}
.pigeon {
    background: #96975D;
    fill: #96975D;
    animation-duration: 0.32s;}
.duck {
    background: #5D9776;
    fill: #5D9776;
    animation-duration: 0.31s;}
.monkey {
    background: #F47C76;
    fill: #F47C76;
    animation-duration: 0.31s;}
.wildturkey {
    background: #016761;
    fill: #016761;
    animation-duration: 0.3s;}
.rabbit {
    background: #F19FA4;
    fill: #F19FA4;
    animation-duration: 0.29s;}
.chicken {
    background: #81BAA9;
    fill: #81BAA9;
    animation-duration: 0.22s;}
.buzzard {
    background: #5A6B41;
    fill: #5A6B41;
    animation-duration: 0.2s;}
.americancrow {
    background: #002224;
    fill: #002224;
    animation-duration: 0.15s;}
.mouse {
    background: #EDA56C;
    fill: #EDA56C;
    animation-duration: 0.1s;}
.canary {
    background: #99B87F;
    fill: #99B87F;
    animation-duration: 0.06s;}
.hummingbird {
    background: #38A2A0;
    fill: #38A2A0;
    animation-duration: 0.04s;}
.etruscanshrew {
    background: #D58E9F;
    fill: #D58E9F;
    animation-duration: 0.03s;}

.square, .fullscreen {
  background-image: url("images/45-degree-fabric-light.png");
}

/* ------------------Animal Grid Wrapper------------------ */

.gridwrapper {
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 0;
    overflow: scroll;
  }
  .gridwrapper::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;}
  .gridwrapper > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;}
  
    @media(max-width: 960px) {
      .gridwrapper {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      }
    }

/* ------------------Animal Grid Square------------------ */

    .square {
        display: inline;
        z-index:1;
        animation-name: blink-animation;
        animation-iteration-count: infinite;
        position: relative;
      }
      
      .animailImg, .animailImg img {
        width: 120px;
        height: auto;
        max-width: 80%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      } 
      .animaiName {
        font-size:1.5em;
        padding-bottom: 20px;
        font-family: 'Pinyon Script', cursive;
        margin:0;
        color: #ffffff;
        opacity: 0.5;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

/* ------------------Full screen Animal------------------ */

.fullscreen {
    z-index: 100; 
    width: 100vw; 
    height: 100vh;
    margin:0;
    position: fixed; 
    top: 0; 
    left: 0;
    overflow: fixed;
    animation: none;
    background-color: chocolate;
    transition-duration: 150ms;}

.animalFullScreen {
    width: max-content;
    margin: calc(50vh - 50px) auto;
    padding-top: 100px;
    transform: translateY(-50%);
}

.animailImgFullScreen{
        width: 400px;
        height: 400px;
        margin: 0 auto;
        position: relative;
      } 

.animailImgFullScreen img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.animaiNameFullScreen {
        font-size:2.4em;
        padding-bottom: 20px;
        font-family: 'Pinyon Script', cursive;
        margin:0;
        color: #ffffff;
        opacity: 0.7;
        display: inline;
    }
#openAnalytics {
  display: inline;
  margin-left: 20px;
  cursor: pointer;
}

#openAnalytics:hover {
  opacity: 0.5;
  transition-duration: 200ms;
}

    .animalIinfo {
        width: max-content;
        color: #ffffff;
        margin: 0 auto;
        opacity: 0.7;
    }
    .animalIinfo table {
        font-size: 0.9em;
        font-family: 'Lora', serif;
        font-weight: normal;
    }
      .animalIinfo table th{
        padding: 10px 30px;
        }
      .animalIinfo table td{
        font-size: 3em;
        padding-top:16px;
        font-family: 'Pinyon Script', cursive;
        line-height: 0.9em;
      }
      .animalIinfo table td span{
        font-size: 0.3em;
        font-family: 'Lora', serif;
        margin: 0 3px;}

/* Next Prev Arrows */ 
.arrows, .btns {
    width: 60px;
    height: 60px;
    z-index: 300;
    position: fixed;
    opacity: 0.4;
    overflow: hidden;}
  .arrows {  top: calc(50% - 30px);}
  .btns {  top: 80px;}
  .arrowsvisible, .btnsvisible {
    visibility: visible;
    transition-delay: 0.2s;}
  .arrows:hover, .btns:hover {opacity: 0.7;
    transition-duration: 200ms;}
  #leftArrow {left: 0;}
  #rightArrow, #rightBtn, #rightBtnAnalytics, #rightBtnAbout {right:0;}
  #rightBtnAbout {
    z-index: 895;
  }
  
  @media(max-width: 960px) {
    .arrows, .btns {
      width: 50px;
      height: 50px;
    }
    .arrows {  top: calc(100% - 70px);}
    .arrows:hover, .btns:hover {
      opacity: 0.4;
    }
  }

  /* Heart */ 

  #heartid {
    width: 100px;
    position: absolute;
    margin:0;
    z-index: 120;
  }
  
  #heartPath {
    animation-name: heart-animation;
    animation-iteration-count: infinite;}